@{
    ViewData["Title"] = "Home Page";
}

@model Notes.ViewModels.Home.IndexViewModel

</br>

<div class="d-flex justify-content-between">
    <div>
        <button id="refresh-users-btn" class="btn btn-primary">Refresh</button>
        <button id="delete-users-btn" class="btn btn-danger">Delete</button>
    </div>
    <div>
        <a id="create-user-btn" href="@Url.Action("Create", "NoteUser")" class="btn btn-outline-success">Create user</a>
    </div>
</div>

</br>

<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-10" scope="col">#</th>
          <th class="w-60" scope="col">Name</th>
          <th class="w-10" scope="col">Age</th>
          <th class="delete-th w-10" style="display:none" scope="col">Delete</th>
          <th class="w-10" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody id="users">
          @foreach (var user in Model.Users!)
          {
              <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Age</td>
                <td class="delete-th" style="display:none"><input type="checkbox" data-user-id="@user.Id"></td>
                <td><a href="@Url.Action("Edit", "NoteUser", new {id = user.Id})">Edit</a></td>
              </tr>
          }
      </tbody>
    </table>
</div>
